.flowplayer {
	/*box-shadow: 0px 0px 5px #888888;*/
    background-color: #000;
    margin-bottom: 60px;
	/*outline: 500em solid rgba(0, 0, 0, 0);
	transition: outline 0.5s;*/
}

.is-paused.flowplayer .fp-ui { 
}

.flowplayer.is-playing {
    background-color: #000;
}

.flowplayer.is-fullscreen .fp-player {
    background-color: #000;
}

.flowplayer .fp-brand {
    display: none;
}

.flowplayer .fp-volume {
    right: 100px;
}

.flowplayer .fp-duration {
    right: 210px;
}

.flowplayer .fp-timeline {
    margin-right: 255px;
}

.is-long.flowplayer .fp-elapsed {
    text-align: right !important;
    width: 43px;
}

.is-long.flowplayer.fixed-controls .fp-timeline {
    margin-left: 105px !important;
    margin-right: 265px;
}

.flowplayer .fp-fullscreen {
    top: auto;
    bottom: 0;
}

.is-long.flowplayer .fp-time em {
    width: 45px;
}

.flowplayer .danmu-toggle {
    position: absolute;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    top: 0;
    right: 50px;
    font-family: FontAwesome;
}

.flowplayer .danmu-controls {
    position: absolute;
    bottom: -60px;
    height: 30px;
	width: 100%;
	background-color: #fff;
	/*box-shadow: 0px 0px 5px #888888;*/
}

.flowplayer input[type="text"], .flowplayer input[type="submit"], .flowplayer input[type="button"] {
    position: absolute;
    height: 30px;
	display: inline-block;
	margin: 0;
	line-height: 30px;
}

.flowplayer input[type="text"].danmu-bore {
	box-shadow: inset 0 0 5px #ccc;
}

.flowplayer input[type="submit"], .flowplayer input[type="button"] {
    font-family: FontAwesome;
    font-style: normal;
	color: white;
	background-color: #000;
}

.flowplayer input[type="submit"].danmu-trigger {
    right: 0;
	width: 80px;
}

.flowplayer input[type="button"].danmu-styler {
    width: 50px;
}

.flowplayer .danmu-borecontainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 50px;
    margin-right: 80px;
}

.flowplayer .danmu-styleboard {
    position: absolute;
    left: -40px;
    width: 30px;
    height: 60px;
    bottom: 0;
    background-color: #000;
}

.flowplayer span {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: fontAwesome;
}

.flowplayer .danmu-colorpicker {
    top: 0;
}

.flowplayer .danmu-positioner {
    top: 30px;
}

.flowplayer .danmu-colorpicker-input, .flowplayer .danmu-positioner-select {
    position: absolute;
    left: -100px; 
    width: 100px;
    height: 30px;
    padding: 5px;
	box-shadow: inset 0 0 5px #ccc;
}

.flowplayer .danmu-colorpicker-input {
    top: 0;
}

.flowplayer .danmu-positioner-select {
    top: 30px;
}

.danmu {
    font-family: 'SimHei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'STHeiti', 'Microsoft YaHei', sans-serif !important;
}

body {
    font-family: 'Source Sans Pro', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'STHeiti', 'Microsoft YaHei', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'STHeiti', 'Microsoft YaHei', sans-serif !important;
}

.post-template .post-footer .post-tags {
    font-family: 'Source Sans Pro', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'STHeiti', 'Microsoft YaHei', sans-serif !important;
}
